div#chapters-container {
    transform: none;
    margin: 0px; padding: 0px;
    display: block;
    position: fixed;
    top: 0px; left: 0px;
    z-index: 1;
    width: 100vw; height: 100vh;
    transition: transfrom 200ms ease,
                opacity 200ms ease;
    background-color: red;
}