div#select-container {
    transform: none;
    margin: 0px; padding: 0px;
    display: block;
    position: fixed;
    top: 0px; left: 0px;
    z-index: 3;
    width: 100%; height: 100%;
    transition: transfrom 200ms ease,
                opacity 200ms ease;
    background-color: green;
}