div#choices-container {
    transform: none;
    margin: 0px; padding: 0px;
    display: block;
    position: absolute;
    top: 0px; left: 0px;
    bottom: 0px; right: 0px;
    z-index: 5;
    transition: transfrom 200ms ease,
                opacity 200ms ease;
    background-color: green;
}