body {
    margin: 0px; padding: 0px;
    background-color: black;
    overflow: hidden;
}

div#main-container {
    transform: none;
    margin: 0px; padding: 0px;
    display: block;
}

@font-face {
    src: url("./resources/fonts/Roboto-Medium.ttf");
    font-family: "Roboto";
}