div#select-container {
    transform: none;
    margin: 0px; padding: 0px;
    display: block;
    position: fixed;
    top: 0px; left: 0px;
    bottom: 0px; right: 0px;
    z-index: 2;
    transition: transfrom 200ms ease,
                opacity 200ms ease;
}

div#select-background {
    background-color: black;
    background-image: url("./resources/images/select/background.png");
    transform: none;
    margin: 0px; padding: 0px;
    display: block;
    position: fixed;
    top: 0px; left: 0px;
    bottom: 0px; right: 0px;
    transition: transfrom 200ms ease;
    background-size: cover;
}

div#select-foreground {
    background-image: url("./resources/images/select/foreground.png");
    transform: none;
    margin: 0px; padding: 0px;
    display: block;
    position: fixed;
    top: 0px; left: 0px;
    bottom: 0px; right: 0px;
    transition: transfrom 200ms ease;
    background-size: cover;
}